html
{
    min-height: 100%;
    background-image: url(../resources/img/header-bg/wp1895679-vaporwave-wallpapers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
}

.nav li
{
    display: none;
    color: white;
    padding: 30px;
}

.article a
{
    text-decoration: none;
    font-size: large;  
}

.article
{
    color: white;
    text-align: center;
}

.article h1
{
    font-size: 2.3rem;
}

.bevezetes
{
    margin-top: 50px;
}

.bevezetes p
{
    border: 2px solid white;
    border-radius: 7px;
    display: inline;
    padding: 10px;
    color: white;
    box-shadow: 3px 3px 25px black;
}


.footerdiv
{
    background-color: rgba(0, 0, 0, 0.300);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 712px;
}

.footerdiv p
{
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.8;
}