html
{
    min-height: 100%;
    background-image: url(../resources/img/header-bg/wp1895679-vaporwave-wallpapers_edited.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

body
{
    margin: auto;
}

.nav a
{
    text-decoration: none;
}

.nav a:hover
{
    border-bottom: 2px solid white;
    border-radius: 2px;
    border-width: thin;
}

.nav li
{
    display: inline;
    color: white;
    padding: 20px;
}

.article
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


.footerdiv
{
    background-color: rgba(0, 0, 0, 0.300);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 749px;
}

.footerdiv p
{
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.8;
}