html
{
    min-height: 100%;
    background-image: url(../resources/img/header-bg/wp1895679-vaporwave-wallpapers_edited.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

body
{
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.nav a
{
    text-decoration: none;
}

.nav a:hover
{
    border-bottom: 2px solid white;
    border-radius: 2px;
    border-width: thin;
}

.nav li
{
    display: inline;
    color: white;
    padding: 20px;
}

.article
{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}


.miatapic
{
    margin-left: 650px;
    height: 20px;
}

.miatapic img
{
    
    margin-top: 12px;
    width: 600px;
    border-radius: 10px;
}

.navbar
{
    
    float: right;
    margin-top: 90px;
    text-align: center;
    width: 200px;
   
}

.navbar a
{
    text-decoration: none;
    color: white;
}



.navbar li
{
    list-style: none;
    padding-top: 3px;
    padding-bottom: 7px;
    font-weight: bolder;
    
}

.navbar a:hover
{
    color: rgb(233, 231, 122);
}

.footerdiv
{
    background-color: rgba(0, 0, 0, 0.300);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 770px;
}

.footerdiv p
{
    color: rgb(255, 255, 255);
    text-align: center;
    opacity: 0.8;
}